<div class="container">
  <ejs-splitter orientation="Vertical" height='100%' width='100%' (created)="loadMap()">
    <e-panes>
        <e-pane [size]="'50%'">
          <ng-template #content>
            <div id="mapDiv" class="mapContainer"></div>
          </ng-template>
        </e-pane>
        <e-pane [size]="'50%'">
          <ng-template #content>
              <div *ngIf="!dataSourcesLoaded">
                Loading data sources...
              </div>
              <ng-container *ngIf="dataSourcesLoaded">
                <ejs-tab heightAdjustMode="Fill" (selected)="onTabSelected($event)" (created)="loadFirstDataSource()">
                  <e-tabitems>

                    <!-- Suncfusion Grids -->
                    <e-tabitem *ngFor="let dataSource of dataSources; let i = index;">
                      <ng-template #headerText>
                        <div>{{dataSource.name}}</div>
                      </ng-template>
                      <ng-template #content>
                        <div class="dataGridContainer">
                          <ejs-grid
                          [height]="'100%'"
                          [width]="'100%'"
                          [dataSource]='dataSource | async'
                          [enableInfiniteScrolling]="true"
                          [allowResizing]="true"
                          [frozenColumns]="1"
                          [pageSettings]="pageOptions[i]"
                          (dataStateChange)="dataStateChange($event, i)">
                          <e-columns>
                            <e-column *ngFor="let col of dataSource.columns" [field]="col.name" [headerText]="col.alias"></e-column>
                          </e-columns>
                        </ejs-grid>
                        </div>
                      </ng-template>
                    </e-tabitem>

                    <!-- AG-Grids -->
                    <e-tabitem *ngFor="let dataSource of dataSourcesAG; let i = index;">
                      <ng-template #headerText>
                        <div>{{dataSource.name}}</div>
                      </ng-template>
                      <ng-template #content>
                        <div class="dataGridContainer">
                          <ag-grid-angular *ngIf="dataSource"
                          style="width: 100%; height: 100%"
                          class="ag-theme-alpine"
                          [datasource]="dataSource"
                          [columnDefs]="dataSource.columns"
                          [rowSelection]="gridOptions.rowSelection"
                          [rowBuffer]="gridOptions.rowBuffer"
                          [rowModelType]="gridOptions.rowModelType"
                          [paginationPageSize]="gridOptions.paginationPageSize"
                          [cacheOverflowSize]="gridOptions.cacheOverflowSize"
                          [maxConcurrentDatasourceRequests]="gridOptions.maxConcurrentDatasourceRequests"
                          [infiniteInitialRowCount]="gridOptions.infiniteInitialRowCount"
                          [maxBlocksInCache]="gridOptions.maxBlocksInCache"></ag-grid-angular>
                        </div>
                      </ng-template>
                    </e-tabitem>

                  </e-tabitems>
                </ejs-tab>
              </ng-container>
          </ng-template>
        </e-pane>
    </e-panes>
  </ejs-splitter>
</div>